*.pyc
webserver/webserver.log
webserver/webserver.pid
webserver/public_html/partyman-status
webserver/public_html/partyman-status.tmp
webserver/hosts.allow

.DS_Store
.idea
docker/data/particlcore
docker/logs/cron.log
docker/logs/debug.log
docker/.env
